<%- include('../layouts/header') %>

<div class="dashboard">
  <!-- Sidebar -->
  <%- include('../layouts/sidebar') %>

  <div class="main-content">
    <!-- Navbar -->
    <%- include('../layouts/navbar') %>

    <!-- Content -->
    <div class="content">
      <div class="cards">
        <div class="card-box">
          <h3>120</h3>
          <p>Total Alumni</p>
        </div>

        <div class="card-box">
          <h3>85</h3>
          <p>Sudah Mengisi Survey</p>
        </div>

        <div class="card-box">
          <h3>35</h3>
          <p>Belum Mengisi</p>
        </div>
      </div>
    </div>
  </div>
</div>

<%- include('../layouts/footer') %>
