# Abaikan folder node_modules
node_modules/


# Abaikan log file
*.log

# Abaikan file build/hasil kompilasi
/dist
/build

# Abaikan sistem editor (VSCode, macOS, dll)
.DS_Store
.vscode/

#ABAIKAN GAMBAR
public/motif/
puvlic/uploads/