<div class="sidebar">
  <div class="logo">
    <h3>Tracer Study</h3>
  </div>

  <ul class="menu">
    <li>
      <a href="#">
        <i class="fa-solid fa-house"></i>
        Dashboard
      </a>
    </li>

    <li>
      <a href="#">
        <i class="fa-solid fa-users"></i>
        Alumni
      </a>
    </li>

    <li>
      <a href="#">
        <i class="fa-solid fa-chart-column"></i>
        Statistik
      </a>
    </li>

    <li>
      <a href="#">
        <i class="fa-solid fa-file-lines"></i>
        Survey
      </a>
    </li>

    <li>
      <a href="/logout">
        <i class="fa-solid fa-right-from-bracket"></i>
        Logout
      </a>
    </li>
  </ul>
</div>
