<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= title %></title>

    <link rel="stylesheet" href="/css/home.css">
</head>
<body>

    <nav class="navbar">
        <div class="logo">
            Tracer Study
        </div>

        <ul class="nav-links">
            <li><a href="#">Beranda</a></li>
            <li><a href="#">Berita</a></li>
            <li><a href="#">Statistik</a></li>
            <li><a href="#">Publikasi</a></li>
            <li><a href="#">Isi Kuesioner</a></li>
        </ul>
    </nav>

    <section class="hero">
        <h1>Selamat Datang di Website Tracer Study</h1>
        <p>
            Sistem tracer study alumni untuk memantau perkembangan karir,
            evaluasi lulusan, dan peningkatan kualitas pendidikan.
        </p>

        <button>Mulai Isi Kuesioner</button>
    </section>

    <footer>
        Tracer Study dibuat dengan ❤ oleh Gunawan Rohadi, S.Kom
    </footer>

</body>
</html>